/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

$grey: #323C46;
$dark-grey: #242424;
$white: #E9F3F6;
$light-blue: #75AADB;
$dark-blue: #001743;
// Base document colors
$body-bg: $grey;
$body-color: $white;
$link-color: $light-blue;

$light: $grey;

// Navigation element colors
$footer-bg: $dark-blue;
$navbar-bg: $grey;
$sidebar-bg: $grey;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: $dark-grey;

// Bootstrap inputs
$input-bg: $dark-grey;


// Inline code
$code-bg: $dark-blue; // inline code background color
$code-color: $light-blue; // inline code text color

code {
    border-radius: 6px;
    /* Rounded corners */
}